<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="renderer" content="webkit">
	<title>Skadi the Corrupting Heart</title>
	<link rel="stylesheet" type="text/css" href="./build/style.css?v1.6.1">
</head>

<body>
	<div id="dev" style="position: fixed;left: 0;left: 0;background-color: white;"></div>
	<div class="loader" id="loader">Loading...</div>
	<image src="./assets/operator_logo.png" class="logo" id="logo" alt="operator logo" />
	<div id="widget-wrapper">
		<div id="spine-widget"></div>
	</div>
</body>
<script type="text/javascript" src="./build/operator.js?v1.6.1"></script>
<script type="text/javascript" src="./build/spine-widget.js?v1.6.1"></script>
<script type="text/javascript" src="./build/runner.js?v1.6.1"></script>

</html>