<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="renderer" content="webkit">
	<title>Arknights Live 2D Wallpaper</title>
	<link rel="stylesheet" href="./assets/style.css">
	<link rel="stylesheet" href="./assets/spine-player.css">
</head>

<body>
	<div id="dev" style="position: fixed;left: 0;left: 0;background-color: white;"></div>
	<image src="./operator/operator_logo.png" class="logo" id="logo" alt="operator logo" />
	<div id="widget-wrapper" style="width: 100%; height: 100%;">
		<div id="container" style="width: 100%; height: 100%;"></div>
	</div>
	
</body>
<script type="text/javascript" src="./assets/spine-player.js"></script>
<script type="text/javascript" src="./operator/operator.js"></script>
<script type="text/javascript" src="./operator/settings.js"></script>
<script type="text/javascript" src="./assets/runner.js"></script>

</html>