.changelogs .item-group {
    flex-direction: column;
    align-items: stretch;
}

.changelogs .item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding-left: 1rem;
    word-break: break-word;
}

.changelogs .item-info-content {
    font-size: 1.5rem;
    display: list-item;
}