html {
  user-select: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body,
#app {
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  touch-action: none;
}

#widget-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

.invert-filter {
  filter: invert(1);
  opacity: 0.3;
}

#video_background {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}

#video_background video {
  min-width: 100%; 
  min-height: 100%; 
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}