@use "@/scss/_page_base.scss";

.offical-update {
  flex-direction: column;
  align-items: stretch;
  padding: 1rem;

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
    word-break: break-word;
    margin-top: 1.25rem;
    .content {
      font-size: 1.5rem;
    }
    .container {
      .title {
        margin-left: 0.5rem;
      }
    }
  }
}
