.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding-bottom: 3rem;
  margin: 0 auto;
  width: 70%;
  max-width: 100rem;
}

.header {
  width: auto;
  position: sticky;
  top: 0;
  right: 0;
  padding: 1rem;
  z-index: 2;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.header .spacer {
  flex-grow: 1;
}

.header .dropdown {
  margin-left: auto;
}

.navButton {
  padding: 0.5rem;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  z-index: 2;
}

.navButton .bar {
  width: 2rem;
  height: 0.2rem;
  background-color: var(--text-color);
  transition: transform cubic-bezier(0.65, 0.05, 0.36, 1) 0.3s;
}

.navButton .bar:nth-child(1) {
  transform: translate(0, -200%);
}

.navButton .bar:nth-child(3) {
  transform: translate(0, 200%);
}

.navButton.active .bar:nth-child(1) {
  transform: translate(0, 100%) rotateZ(45deg) scaleX(0.5) translate(-50%);
}

.navButton.active .bar:nth-child(2) {
  transform: rotateZ(-45deg);
}

.navButton.active .bar:nth-child(3) {
  transform: translate(0, -100%) rotateZ(45deg) scaleX(0.5) translate(50%);
}

.drawer {
  position: fixed;
  top: 0;
  left: -15rem;
  width: 15rem;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  transition: left cubic-bezier(0.65, 0.05, 0.36, 1) 0.3s;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.drawer .links {
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--drawer-background-color);
  height: 100%;
  width: 15rem;
}

.drawer .overlay {
  height: 100%;
  flex-grow: 1;
  z-index: 2;
}

.drawer.active {
  pointer-events: all;
  left: 0;
  width: 100vw;
}

.drawer .link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  color: var(--text-color);
  font-size: 0.8rem;
  font-weight: 500;
  transition: color cubic-bezier(0.65, 0.05, 0.36, 1) 0.3s;
  text-transform: uppercase;
}

.drawer .link:hover {
  color: var(--link-highlight-color);
}

.drawer .link.active {
  color: var(--link-highlight-color);
}

.main .main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  position: relative;
  padding-right: 2rem;
}

.main .main-header .main-title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2em;
}

@media (max-width: 600px) {
  .main .main-header .main-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .main .main-header .main-title {
    font-size: 2rem;
  }
}

.main .main-header .main-tab {
    flex: auto;
    white-space: pre;
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    overflow: hidden;
}

.main .main-header .main-tab .main-tab-item {
    font-size: 1.25rem;
    line-height: 3em;
    font-weight: 700;
    padding: 0 1rem;
    text-transform: uppercase;
    cursor: pointer; 
    border-bottom: 0.3rem solid transparent;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main .main-header .main-tab .main-tab-item .main-tab-text-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
}

.main .main-header .main-tab .main-tab-item.active .main-tab-text-wrapper,
.main .main-header .main-tab .main-tab-item:hover .main-tab-text-wrapper,
.main .main-header .main-tab .main-tab-item.active .text,
.main .main-header .main-tab .main-tab-item:hover .text {
    color: currentColor
}

.main .main-header .main-tab .main-tab-item.active {
    border-bottom-color: currentColor;
}

.main .main-header .main-tab .main-tab-item.active,
.main .main-header .main-tab .main-tab-item:hover {
    color: var(--link-highlight-color);
}

.main .main-header .main-tab .main-tab-item .main-tab-text-wrapper {
    color: var(--text-color);
    transition: color cubic-bezier(0.65, 0.05, 0.36, 1) 0.3s;
}

.main .main-icon {
  width: 3.88rem;
  margin-right: 1.88rem;
  fill: var(--text-color);
  display: inline-block;
  vertical-align: middle;
}

.main .return-button {
    position: absolute;
    right: -4rem;
    bottom: -24px;
    color: var(--button-color);
    transition: color cubic-bezier(0.65, 0.05, 0.36, 1) 0.3s;
}

@media (max-width: 768px) {
    .main .return-button {
        right: -3.4rem;
    }
}

.main .return-button:hover {
    color: var(--text-color);
}

.footer .section {
  border-top: 1px solid var(--border-color);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-family: "Noto Sans SC", sans-serif;
}

.footer .links {
  flex-direction: row;
  height: 2rem;
}

.footer .links .item {
  padding: 0 1rem;
  border-left: 2px solid var(--border-color);
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer .links .item:first-of-type {
  border-left: none;
}

.footer .copyright {
  flex-direction: column;
  gap: 0.5rem;
  font-size: 12px;
}
