.return-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.6rem 0;
  width: 3rem;
  cursor: pointer;
}

.return-button .bar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.return-button .bar {
  width: 1rem;
  height: 0.4rem;
  background-color: currentColor;
  transition: transform cubic-bezier(0.65, 0.05, 0.36, 1) 0.3s;
}

.return-button .bar-arrow-left {
  border-top: 0.24rem solid transparent;
  border-bottom: 0.24rem solid transparent;
  border-right: 0.3rem solid currentColor;
}

.return-button .bar-arrow-right {
  border-top: 0.24rem solid transparent;
  border-bottom: 0.24rem solid transparent;
  border-left: 0.3rem solid currentColor;
}

.return-button .bar-wrapper:nth-child(1) {
  transform: translateY(-0.1rem) rotate(45deg);
}

.return-button .bar-wrapper:nth-child(2) {
  transform: translateY(-0.1rem) translate(90%, -100%) rotate(-45deg);
}

.return-button .bar-wrapper:nth-child(3) {
  transform: translateY(-0.1rem) translateY(150%) rotate(315deg);
}

.return-button .bar-wrapper:nth-child(4) {
  transform: translateY(-0.1rem) translate(90%, 50%) rotate(225deg);
}
