.dropdown {
  position: relative;
  display: inline-block;
  user-select: none;
  z-index: 2;
  padding: 0.5em;
  cursor: pointer;

  .text {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--text-color);

    &:hover {
      .popup {
        visibility: unset;
        opacity: 1;
      }
    }

    .popup {
      opacity: 0;
      position: absolute;
      background-color: var(--root-background-color);
      width: max-content;
      height: max-content;
      max-height: 61.8vh;
      max-width: 61.8vw;
      z-index: -1;
      top: 2em;
      right: 0;
      cursor: auto;
      transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 0.3s;
      overflow: auto;
      padding: 0.5rem;
      border: 1px solid var(--border-color);
      visibility: hidden;

      .text {
        font-size: 1rem;
      }
    }
  }

  .content {
    padding-right: 0.5em;
    height: 1em;
  }

  .icon {
    position: absolute;
    bottom: 0.5em;
    right: -0.1em;
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    vertical-align: middle;
    border-left: 0.15em solid var(--text-color);
    border-bottom: 0.15em solid var(--text-color);
    border-right: 0.15em solid var(--text-color);
    border-top: 0.15em solid var(--text-color);
    transform: translate(0, -0.15em) rotate(-45deg);
  }

  .menu {
    opacity: 0;
    position: absolute;
    background-color: var(--root-background-color);
    width: max-content;
    max-height: 61.8vh;
    max-width: 61.8vw;
    z-index: -1;
    top: 2em;
    right: 0;
    gap: 0.5rem;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
    transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 0.3s;
    overflow: auto;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    visibility: hidden;
    color: var(--link-highlight-color);
    cursor: auto;

    .date {
      font-family: "Bender";
      font-weight: bold;
      font-size: 24px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .line {
        height: 1px;
        flex-grow: 1;
        background-color: var(--text-color);
        margin: 0.5rem;
      }
    }

    .item {
      cursor: pointer;
      padding: 0.5rem;
      font-size: 1rem;
      transition: color cubic-bezier(0.65, 0.05, 0.36, 1) 0.3s;

      &:hover,
      &:focus,
      &.active {
        .text {
          color: currentColor;
        }
      }
    }
  }

  .overlay {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    cursor: auto;
  }

  &.active,
  &:hover {
    .icon {
      animation: icon-flash 2s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
    }
  }

  &.active {
    .menu {
      visibility: visible;
      opacity: 1;
      z-index: 2;
    }
  }
}

@keyframes icon-flash {
  50% {
    opacity: 0.2;
  }
}
