@use '@/scss/_page_base.scss';

.group {
  flex-direction: column;
  align-items: stretch;

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding-left: 1rem;
    word-break: break-word;
    .content {
      font-size: 1.5rem;
      display: list-item;
    }
  }

  .date {
    margin-bottom: 1rem;
  }

  @media only screen and (max-width: 430px) {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-bottom: 1rem;
  }
}
