@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Noto+Sans+SC&display=swap");

:root {
  font-family: "Josefin Sans", "Noto Sans SC", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #131313;
  min-height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

#root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
}
