html {
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../operator/operator_bg.png");
    height: 100%;
    width: 100%;
    touch-action: none;
    -ms-touch-action: none;
}

.logo {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.invert-filter {
    filter: invert(1);
    opacity: 0.3;
}

.widget-wrapper {
    display: flex;
    align-items: center;
}

.fallback {
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../operator/fallback.png");
    width: 100%;
    height: 100%;
}

.website-settings {
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    user-select: auto;
    z-index: 999;
    display: none;
}